@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Fira+Sans:wght@300;400&family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-div {
    background-image: url(./img/bgimage.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.netflix {
    display: flex;
}

.netflix img {
    display: flex;
    padding-left: 50px;
}

.language {
    height: 50px;
    margin-top: 27px;
    margin-left: 60%;
    border-radius: 10px;
    color: inherit;
    line-height: 1.25rem;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: transparent;
    color: white;
}

.sign-in {
    border: 1px solid transparent;
    margin: 30px;
    height: 50px;
    margin-top: 27px;
    margin-left: 10px;
    border-radius: 10px;
    font: inherit;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: red;
    color: white;
    text-align: center;
}

.heading h1 {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 15%;
    font-size: 50px;
}

.heading p {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    font-size: 22px;
}

.email {
    margin-top: 80px;
    margin-left: 30%;
    height: 50px;
    font-weight: 700;
    font-size: 15px;
    background: transparent;
    width: 28%;
    /* background: #848080; */
    color: beige;
    border: 1px solid white;
}

.get {
    height: 50px;
    width: 180px;
    margin: 30px;
    margin-top: 27px;
    margin-left: 5px;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -------------------------------------2 Page------------------------------ */

.main-div-1 {
    background-color: #000;
    height: 80vh;
}

.container {
    display: flex;
}

.text-1 h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 150px;
    font-size: 55px;
    margin-top: 25%;
}

.text-1 p {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 150px;
    padding-top: 20px;
    font-size: 28px;
    line-height: 30px;
}

.image {
    padding-top: 120px;
    padding-left: 70px;
    position: relative;
}


.viedo-tag {
    position: absolute;
    margin-left: -391px;
    margin-top: 70px;
    z-index: 0;
    border: 0 solid transparent;
}

/* -------------------------3 Page---------------------------- */

.main-div-2 {
    background-color: #000;
    height: 80vh;
}

.container-1 {
    display: flex;
}

.image1 {
    padding-top: 50px;
    padding-left: 180px;

}

.text-2 h1 {
    padding-top: 150px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    padding-left: 25px;
}

.text-2 p {
    padding-top: 20px;
    padding-left: 25px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.text00 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    font-size: 18px;
    padding-left: 10px;

}

.text11 {
    margin-top: 25px;
    color: blue;
    cursor: pointer;
    margin-left: -100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}

.text {
    display: flex;
}

.stimage {
    margin-left: 315px;
    cursor: pointer;
}

.smallicon {
    margin-top: 25px;
    padding-left: 15px;
    width: 55px;
    height: 43px;
}


.main-div-3 {
    background-color: #000;
    height: 70vh;
}

.container-3 {
    display: flex;
}

.text-4 {
    color: white;
}

.text-10 h1 {
    color: white;
    padding-top: 150px;
    padding-left: 150px;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-10 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 25px;
    padding-left: 150px;
    padding-top: 20px;
}

.play {
    width: 50px;
}

.photo-1 {
    position: relative;
    z-index: 1;
}

.viedo-tag-1 {
    position: absolute;
    margin-left: -365px;
    margin-top: 35px;
    width: 275px;
    border: 0 solid transparent;
}



.main-div-5 {
    background-color: #000;
    height: 70vh;
}

.container-5 {
    display: flex;
}

.text-5 {
    padding-top: 150px;
}

.text-5 h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 50px;
    padding-left: 150px;
    padding-top: 20px;
}

.text-5 p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 25px;
    padding-left: 150px;
    padding-top: 20px;
}

.image-5 {
    margin-left: 200px;
    margin-top: 100px;
}



.question {
    width: 100%;
    padding-top: 50PX;
    min-height: 200px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    border-bottom: 8px solid #222;
    padding-bottom: 50px;
}

.question h1 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.collapsible {
    background-color: #303030;
    color: white;
    cursor: pointer;
    padding: 18px 30px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    font-weight: 200;
    height: 70px;
    margin-left: 5%;
    margin-top: 10px;
    width: 60%;
}

.collapsible:after {
    content: '\002B';
    /* \002B is the Plus symbol to crate a icon  */
    color: white;
    float: right;
    font-family: times new roman;
    font-size: 1.5em;
    transform: scale(1.2, 1.2);
    margin-left: 5px;
}

.active:after {
    content: "\00D7";

}

.content {
    width: 60%;
    text-align: left;
    padding: 0 30px;
    margin-left: 5%;
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #303030;
    color: white;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
    border: 1px solid black;
}

.content p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.space {
    margin-top: 50px;
}

h5 {
    color: #757575;
    font-size: 18px;
    margin-top: 60px;
    margin-left: 20.5%;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer h5:hover {
    text-decoration: underline;
}

.column p:hover {
    text-decoration: underline;
}

.text-sub-sub {
    color: white;
    padding-left: 100px;
    font-size: 30px;
    padding-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-container {
    display: flex;
}

.flex-container input {
    width: 550px;
    height: 45px;
    font-weight: 700;
    border-radius: 2px;
    font-size: 15px;
    margin-left: 200px;
    background: transparent;
    color: white;
    border: 1px solid white;
}

.get-1 {
    height: 45px;
    margin-left: 20px;
    width: 180px;
    font-size: 18px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    background-color: #000;
    height: 60vh;
}

.last-footer h1 {
    color: white;
    font-size: 20px;
    padding-top: 100px;
    padding-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.column p {
    text-decoration: underline;
    color: #757575;
    font-size: 12px;
    margin-top: 30px;
    padding-left: 100px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

}

p:hover {
    color: white;
}

.row {
    display: flex;
    padding-top: 20px;
    padding-left: 200px;
}






@media (max-width: 576px) {
    .netflix img {

        padding-left: 10px;
    }

    .language {

        /* margin-top: 27px; */
        /* margin-left: 20%; */
        margin-left: auto;
    }

    .heading h1 {
        text-align: center;
        padding-top: 22%;
        font-size: 25px;

    }

    .heading p {

        padding-top: 22px;
        font-size: 22px;

    }

    .email {
        margin-top: 40px;
        margin-left: 18%;
        height: 50px;
        width: 130px;
        font-size: 15px;

    }

    .get {
        height: 50px;
        width: 150px;
        margin: 30px;
        margin-top: 60px;
    }



    .text-1 h1 {
        margin-left: 5Px;
        padding: 20PX;
        font-size: 40px;
        margin-top: 1%;
    }

    .text-1 p {
        padding: 20PX;
        margin-left: 5px;
        padding-top: 0px;
        font-size: 15px;
        line-height: 25px;

    }

    .image {
        padding-top: 0px;
        padding-left: 0px;
        position: relative;
        width: 500PX;

    }

    .viedo-tag {
        position: absolute;
        margin-left: -391px;
        margin-top: 70px;
        z-index: 0;
        border: 0 solid transparent;
    }






    .flex-container input {
        width: 220px;
        height: 45px;
    }
    .get-1 {
        height: 45px;
        margin-left: 20px;
        width: 100px;
        font-size: 15px;

    }




    .footer {
        background-color: #000;
        height: 60vh;
    }
    
    .last-footer h1 {
        color: white;
        font-size: 20px;
        padding-top: 100px;
        padding-left: 100px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
    }
    
    .column p {
        text-decoration: underline;
        color: #757575;
        font-size: 12px;
        margin-top: 3px;
        padding-left: 1px;
        font-size: 15px;
    
    }
    
    .row {
        display: flex;
        padding-top: 20px;
        padding-left: 200px;
    }












}