* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.me {
    height: 100vh;
    width: 100vw;
    background-color: #ebe3cd;
}

.navbar {
    width: 88%;
    height: 50px;
    border-radius: 33px;
    background-color: #12202f;
    position: absolute;
    top: 20px;
    left: 100px;
}

.logo {
    font-size: 37px;
    color: white;
    display: inline-flex;
    padding-left: 90px;

}

.menu {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;

    padding: 14px 13px;
    margin-left: 100px;
    text-decoration: none;
}

.menu a {
    padding: 14px 45px;
    text-decoration: none;
    color: white;
}

.btn {
    font-size: 17px;

    color: #6bb99c;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}
.cont{
    display: flex;
}

.n1{
    padding: 175px 90px;
}


.text {
    font-size: 60px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.para {
    font-size: 29px;
    line-height: 40px;
    color: #12202f;
    font-family: "Montserrat";
}

.te-pera {

    font-size: 17px;
    line-height: 31px;
    color: #12202f;
    font-weight: 600;
    font-family: "Montserrat";

}
.nare{
    width: 162px;
height: 56px;
border-radius: 28px;
background-color: #df581e;
}

.imgg{
padding: 265px 0px;
}



.fome2{
    background-color: #ebe3cd;
    height: 100vh;
    width: 100%;


}
.deli{
    font-size: 29px;
line-height: 40px;
color: #eaa73b;
font-weight: 400;
font-family: "Montserrat";
text-align: center;
}
.food{
    font-size: 50px;
color: #12202f;
font-weight: 900;
font-family: "Playfair Display";
text-align: center;
}